body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-brand {
  font-weight: bold;
  color: #8b1c1c;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  color: #a02121 !important;
  font-weight: 500;
}